/****** FILE: themes/simple/css/superfish.css *****/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
font-size:16px;

}
.sf-menu {	

	line-height:	1.0;
}
.sf-menu ul {

	position:		absolute;
	top:			-999em;
	width:			12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {

	float:			left;
	position:		relative;
}
.sf-menu a {
	color:black;
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			2em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu a {
	color:#333;
	padding: .7em 2em;
	text-decoration:none;
}

.sf-menu li#menu-437-1  a /*home*/ {
margin:0px 7px 0px 0px;}

.sf-menu li#menu-437-1 li a {
padding:.45em 3em .45em 1em;}


.sf-menu li#news  a {
	padding:.8em 1.5em;}
	
.sf-menu li#menu-331-1 li a /*services*/ {
padding:.45em 3em .45em 1em;}

.sf-menu li#menu-331-1  a {
	margin:0px 9px 0px 0px;
	padding:.7em 1.8em .7em 1.7em;}

.sf-menu li#menu-334-1 a /*wellness*/{
	margin:0px 5px 0px 0px;
	padding:.7em 1.8em .7em 1.7em;}
	
.sf-menu li#menu-334-1 li a {
padding:.45em 0em .45em 1em;}
	
	.sf-menu li#menu-335-1 a /*health*/ {
	margin:0px 5px 0px 0px;
	padding:.7em 1.3em;}
	
	.sf-menu li#menu-335-1 li a {
padding:.45em 3em .45em 1em;}

.sf-menu ul li a {color:black;
font-size:14px;
}

.sf-menu ul li ul li a{
border:1px solid #ccc;
padding:.45em 3em .45em 1em;
}

.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	
}
.sf-menu li {
	background:		none;
}
.sf-menu li li {
	/*background:url(../images/white-trans.png) repeat;*/
}

.sf-menu li ul {border:1px solid #ccc;
	background:url(../images/white-trans.png);
}


.sf-menu li li li {
	background:		#9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover {
outline:		0;
}

.sf-menu li a.active {color:#ec8306;}
.sf-menu li a:hover {color:#1D93CE;}
ul.sf-menu li li a:hover {color:#9C0;}

.sf-menu li#menu-437-1 a.active {
/*background:url(../images/tabs2.png) no-repeat -12px 0px;*/
}


.sf-menu li#menu-437-1:hover  {
-webkit-border-top-left-radius: 9px;
-webkit-border-top-right-radius: 9px;
border-radius:9px 9px 0 0 ;
		-moz-border-radius: 9px 9px 0 0 ;
	background:#f1f1f1;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
/*background:url(../images/tabs2.png) no-repeat -12px -45px;*/}
.sf-menu li#menu-437-1 ul {width:240px;	padding:0 0 10px 5px;}

.sf-menu li#menu-331-1 li a.active,
.sf-menu li#menu-437-1 li a.active,
.sf-menu li#menu-334-1 li a.active, 
.sf-menu li#menu-335-1 li a.active, 
.sf-menu li#menu-336-1 li a.active 
{color:red;background:none;}

.sf-menu li#menu-331-1 a.active  {/*
background:url(../images/tabs2.png) no-repeat -146px 0px;*/}
.sf-menu li#menu-331-1:hover  {
	-webkit-border-top-left-radius: 9px;
-webkit-border-top-right-radius: 9px;
border-radius:9px 9px 0 0 ;
		-moz-border-radius: 9px 9px 0 0 ;
	background:#f1f1f1;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
/*background:url(../images/tabs2.png) no-repeat -146px -45px;*/}
.sf-menu li#menu-331-1 ul {
width:240px;padding:0 0 10px 5px;}


.sf-menu li#menu-334-1 a.active  {
/*background:url(../images/tabs2.png) no-repeat -146px 0px;*/}
.sf-menu li#menu-334-1:hover  {
	-webkit-border-top-left-radius: 9px;
-webkit-border-top-right-radius: 9px;
border-radius:9px 9px 0 0 ;
		-moz-border-radius: 9px 9px 0 0 ;
	background:#f1f1f1;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
/*background:url(../images/tabs2.png) no-repeat -146px -45px;*/}
.sf-menu li#menu-334-1 ul {width:240px;padding:0 0 10px 5px;}

.sf-menu li#menu-335-1 a.active  {
/*background:url(../images/tabs2.png) no-repeat -454px 0px;*/}
.sf-menu li#menu-335-1:hover  {}
.sf-menu li#menu-335-1 ul {width:240px;padding:0 0 10px 5px;}


.sf-menu li#menu-336-1 a.active  {
/*background:url(../images/tabs2.png) no-repeat -13px 0px;*/}
/*.sf-menu li#news  {
background:url(../images/tabs.png) no-repeat -659px 0px;}

.sf-menu li#news:hover  {
background:url(../images/tabs.png) no-repeat -659px 0px;}

.sf-menu li#menu-333-1:hover  {
background:url(../images/tabs.png) no-repeat -13px 0px;}

.sf-menu li#menu-333-1 {
background:url(../images/tabs.png) no-repeat -13px 0px;}*/


/*.sf-menu li#menu-333-1.current:hover {
background:url(../images/tabs.png) no-repeat -13px 0px;}

.sf-menu li#menu-331-1  {
background:url(../images/tabs.png) no-repeat -146px 0px;}


.sf-menu li#menu-331-1:hover  {
background:url(../images/tabs.png) no-repeat -146px 0px;}

.sf-menu li#menu-334-1:hover  {
background:url(../images/tabs.png) no-repeat -146px 0px;}

.sf-menu li#menu-334-1  {
background:url(../images/tabs.png) no-repeat -146px 0px;}

.sf-menu li#menu-335-1:hover  {
background:url(../images/tabs.png) no-repeat -454px 0px;}

.sf-menu li#menu-335-1 {
background:url(../images/tabs.png) no-repeat -454px 0px;}*/
		
/*.sf-menu li#menu-333-1.current {
	background:url(../images/tabs.png) no-repeat -13px 0px;}*/

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	/*background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px;*/ /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
		-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-border-radius-bottomleft: 17px;
		-moz-border-radius-bottomright: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
	-webkit-border-bottom-right-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/****** FILE: themes/simple/css/system-menus.css *****/

ul.menu {
  list-style: none;
  border: none;
  text-align:left; /* LTR */
}
ul.menu li {
  margin: 0 0 0 0.5em; /* LTR */
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(../../misc/menu-expanded.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(../../misc/menu-leaf.png);
  padding: 0.2em 0.5em 0 0; /* LTR */
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}
ul.links {
  margin: 0;
  padding: 0;
}
ul.links.inline {
  display: inline;
}
ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; /* LTR */
}

/****** FILE: themes/simple/css/styles.css *****/
@charset "UTF-8";
/* CSS Document */

/* TABLE OF CONTENTS

01 - Global Elements
02 - Typography
03 - Header - Header, Logo, navigation
04 - Main Structure
05 - Home Page Content 
06 - Main Content 
07 - Sidebar
08 - Footer    */


/* ---------------- 01 - Global Elements ---------------- */

a {outline: none;}

hr {clear:both;
margin:20px 0 20px 0;}

p em, em {
font-style:italic;}

.node-type-home-feature #main img {
padding:0 0 20px 0;}
.node-type-home-feature #main p {
margin: 0 25px 0 0;}

/* staff page */
.node-type-staff #main img {float:right;}

/*webform */

.node-type-webform .content {color:#666;}


/*blockquotes */

.page-health-answers blockquote, .page-node blockquote   {
float:right;
-moz-border-radius:15px;
-webkit-border-radius: 10px;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
text-align:center;
background:orange;}

.page-node blockquote {
float:right;
padding:5px;
margin:0 0 20px 20px;
width:210px;}

.page-health-answers blockquote {
padding:15px;
margin:0 0 20px 20px;
width:160px;}




.page-health-answers blockquote a {
font-size:1.2em;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
color:white;}

.right {
margin:0 0 10px 10px;
float:right;}

.left {
margin:0 5px 0 0;
float:left;}
html,
body {
font-family:Arial, Helvetica, sans-serif;
margin:0;
padding:0;
height:100%;
font-size:100%;
background:#cecba5 url(../images/background.png) repeat-x;
}

#background {  
min-height:100%;
position:relative;
background:#cecba5 url(../images/background.png) repeat-x;}

.sf-menu, .sf-menu * {
z-index:1000;
}
em {font-style:italic;}

strong {font-weight:bold;}

a.external-link  {
padding:0 20px 0 0;
background:url(../images/external-link.png) no-repeat right 0px;}

p {
}

.typography p.description {
font:normal italic .8em Arial, Helvetica, sans-serif;
color:#999;}


a {text-decoration:none;}
.clear {
clear:both;}

.more a, a.more {
font:bold 10px Arial,Helvetica,sans-serif;
color:#F20F55;
float:right;
text-transform:uppercase;
margin:5px 0 0 0;

}

a.more {
float: none;
display:inline;
font-size:10px;}

/* ---------------- 02 - Typography  ---------------- */

.typography strong {
color:#666;
font-weight:bold;}

.typography h1 {
margin:10px 0 15px 0;
font:normal 29px/29px 'Nobile',  Arial, Helvetica, sans-serif;}

.typography a {color:#DF6421;}

.typography h2 {
color:#006699;
margin:0 0 10px 0;
font:lighter 20px/22px 'Nobile',Arial,Helvetica,sans-serif;}

.typography h3 {
color:#333;
margin:0 0 10px 0;
font:normal 18px 'Nobile', Arial,Helvetica,sans-serif;}

.typography h4 {
color:#666;
font:lighter 16px  'Nobile', Arial, Helvetica, sans-serif;}

.typography h5 {
color:#90711d;
font:bold 14px  'Nobile', Arial, Helvetica, sans-serif;}

.typography h6 {
color:#84795c;
text-transform:uppercase;
font:bold 11px  'Nobile', Arial, Helvetica, sans-serif;}

.typography p {
color:#666;
font-weight:lighter;
font:lighter 15px/21px Arial, Helvetica, sans-serif;
margin:0 0 15px 0;}

.typography ul {margin:10px 0 20px 15px;}
.typography ul ul {
margin:10px 0 10px 20px;
font-size:1.1em;}

.typography ol li {
font:lighter 15px/19px Arial, Helvetica, sans-serif;
color:#666;
list-style:decimal;
margin:0 0 5px 23px;}

.typography ul li {
font:lighter 15px/19px Arial, Helvetica, sans-serif;
color:#666;
list-style:disc;
margin:0 0 5px 0;}

.typography ul li.pdf a {
margin:0 5px 0 0;
padding:0 20px 0 0;
background:url(../images/pdf.png) no-repeat right -1px;}

a.pdf  {
margin:0 5px 0 0;
padding:0 20px 0 0;
background:url(../images/pdf.png) no-repeat right -1px;}	

blockquote p  {padding:0px;}

.typography blockquote h3 {
color:white;
padding:10px 0 0 0;}

/* ---------------- 03 - Header - logo, navigation ---------------- */

h1.logo a {
float:left;
display:block;
text-indent:-9999px;
width:656px;
color:transparent;
background:url(../images/logo_horizontal.png) no-repeat 7px 15px;
height:44px;
margin-top: 6px;}

#header {
height:87px;
padding:0px;
}

#header p {
font-weight:lighter;
clear: left;
float:left;
margin:17px 0px 0px 0px;
color:white;
font-size:11px;}

#header strong {
font-weight:bold;
margin-left:20px;}

#header img {
margin:-35px 0px 0px 0px;
float:right;}

#header img.header-logo {
margin:15px 0 0 7px;
float:left;}

#nav {
margin:30px 10px 0px 0px;
height:51px;}

#nav ul {
margin:5px 0 0 0;
float:right;}

p.appointments a {
float:left;
color:white;
font-size:19px;
text-decoration:none;
display:block;
width:220px;
height:33px;
padding:7px 0px 0px 30px;
margin:5px 0px 0px 15px;
background:url(../images/appointments.png) no-repeat;
}
p.appointments a:hover {
background: url(../images/appointments-over.png) no-repeat ;
}
/* ---------------- 04 - Main Structure  ---------------- */


#container {
min-height:100%;
position:relative;
background:url(../images/header.png) no-repeat scroll 50% 0px;
}

#wrapper {
width:980px;
margin:0px auto 0px auto;}

#body {
background:white;
width:980px;
overflow:hidden;
}

/* ---------------- 05 - Home Page Content  ---------------- */

/* Home Page Slider */

.panel h3 a {
width:auto;
text-decoration:none;
color:white;
font:bold 27px/16px Arial, Helvetica, sans-serif;}

.panel h4 a {

text-decoration:none;
color:white;
font:italic 29px/16px Georgia, "Times New Roman", Times, serif;}

/*.stripViewer .panelContainer p {
font:normal 13px/18px Arial, Helvetica, sans-serif;
color:#ccc;}*/

.feature-content {
padding:10px 40px 10px 10px;
height:100px;
background:url(../images/blacktrans.png) repeat;}

.wrapper1 {height:272px;background:url(../images/panel-1.jpg) no-repeat;}
.wrapper2 {height:272px;background:url(../images/panel-2.jpg) no-repeat;}
.wrapper3 {height:272px;background:url(../images/panel-3.jpg) no-repeat;}
.wrapper4 {height:272px;background:url(../images/panel-4.jpg) no-repeat;}
.wrapper5 {height:272px;background:url(../images/panel-5.jpg) no-repeat;}

.stripViewer .panelContainer .panel ul {
text-align: left;
margin: 0 15px 0 30px;
}

.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	position: relative;
	height: 325px;
	width: 630px;
	margin: 0px;
	padding: 0px;
	border:1px solid #999;
	background: #CCC url(../images/feature-background.png) no-repeat;
}

#coda-nav-right-1 {
	float: right;
	width: 60px;
}
#coda-nav-left-1 {
	background: #888;
	float: left;
	position: absolute;
	width: 60px;
}
#coda-nav-left-1 a, #coda-nav-right-1 a {
	/*background: #CCC; */
	color: black;
	display: block;
	margin: 302px 0px 0px 0px;
	padding: 3px 5px;
	position: absolute;
	width: 50px;
}

/* These 2 lines specify style applied while slider is loading */
/*.csw {width: 100%; height: 272px; background: #fff; overflow: scroll}
.csw .loading {margin: 200px 0 300px 0; text-align: center}*/

/*.csw {width: 630px; height: 325px; margin: 0px; padding: 0px; background: #fff; overflow: scroll}
.csw .loading {margin: 0px 0px 0px 0px; text-align: center}*/


#slider1 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
	position: absolute;
	height: 302px;
	width: 630px;
}


.stripViewer_old { /* This is the viewing window */
position: relative;
overflow: hidden; 
border: 1px solid #999; /* this is the border. should have the same value for the links */
margin: auto;
margin: 0px;
width: 630px; /* Also specified in  .stripViewer .panelContainer .panel  below */
height: 272px;
clear: both;
background: #fff;
}

/* .stripViewer */
.panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
position: relative;
left: 0;
top: 0;
height: 302px;
list-style-type: none;
margin: 0px;
padding: 0px;
width: 630px;
/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

/* .stripViewer */
.panelContainer .panel { /* Each panel is arranged end-to-end */
float:left;
height: 100%;
position: relative;
width: 630px; /* Also specified in  .stripViewer  above */
}

/* .stripViewer */
.panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
padding: 0px;
}

/* The left and right arrows */
/* .stripNavL, .stripNavR {
position: absolute;
top: 268px;
text-indent: -9000em;
}

.stripNavL a, .stripNavR a {
display: block;
height: 80px;
width: 120px;
color:transparent;
}

.stripNavL {left: 0;}

.stripNavR {right: 0;}

.stripNavL {background: url("../images/arrow-left.png") no-repeat center;}

.stripNavR {
background: url("../images/arrow-right.png") no-repeat center;
} */
.slider-wrap-interior {
padding:0px 0 0px 0;
margin:0 0 20px 0;
border:1px solid #999;
background: url(../images/feature-background.png) no-repeat;}

.header-wrap-interior {
padding:10px 0 10px 0;
margin:0 0 20px 0;
border:1px solid #999;
background: url(../images/feature-background2.png) no-repeat 0px -240px;}

#navigation{
width:auto;
margin:0px 21px 10px 21px;
height:20px;
}

.panel-text { padding-top:195px;}

p.ask a {
clear:both;
color:#666;
font:italic 17px/19px Georgia, Helvetica, sans-serif;
margin:20px 0 0 0;}

#clipboard-content {
	background: #fdffd9;
}
#clipboard-content img {float:left;}

#clipboard-content h4 {
color:#333;
margin:0 0 10px 20px;
font:bold 18px/16px 'Nobile', Arial, Helvetica, sans-serif;}

#clipboard-content p.more a {float:left;color:#006699;}
#clipboard-content p.ask a {-moz-border-radius:5px;
-webkit-border-radius: 5px;
padding:7px;
float:left;
font:lighter 16px/16px Arial, Helvetica, sans-serif;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
color:white;background:orange;}

#clipboard-content p {
margin:0 20px 10px 20px; 
color:#666;
font:italic 13px/19px Arial, Helvetica, sans-serif;}

#clipboard-content .more a  {float:right; margin:0px 20px 0px 0px;}
#clipboard-content span a {display:block;}
#news-area {float:left;}
a.view-all {
	color: #DF6320;
	float: right;
	font: bold 12px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	clear: both;
	
}
#clipboard {
height:327px;
float:right;	
}

#clipboard, #news-area {
width:325px;
margin:20px 0px 0px 0px;
}

#clipboard p em {font-style:italic;}

#clipboard-top {
width:auto;
margin-bottom:15px;
height:25px;
background:url(../images/top.png) repeat;}

.typography #clipboard-content {background:none;}

.typography #clipboard {width:280px;margin-left: 20px;}

#clipboard-content {
height:300px;
border:1px solid #999;}

h4.news a {background:url(../images/news-tab.png) no-repeat 80px 0px;}
h4.clipboard a {background:url(../images/blue-tab.png) no-repeat 35px 0px;}
.typography h4.clipboard a {background:url(../images/blue-tab2.png) no-repeat 15px 0px;}	
h4.clipboard a, h4.news a {
text-transform:uppercase;
font:bold 14px/16px Tahoma, Geneva, sans-serif;
color:white;
padding:5px 0px 0px 0px;
width:auto;
display:block;
text-align:center;
height:21px;
}

#news-area li {height:94px;margin:10px 0px 0px 0px;}
#news-area ul li img {margin:0px 15px 0px 0px;float:left;border: 1px solid #ccc;}
#news-area ul li p {font:normal 13px/15px Arial, Helvetica, sans-serif;}

#news-area h5 {
margin:0 0 5px 0;
line-height:15px;}
#news-area h5 a {

color:#006699;
font:normal 16px/16px Arial, Helvetica, sans-serif}

/* ---------------- 06 - Main Content ---------------- */

#main {
margin:15px 15px 0px 0px;
float:right;
padding:0 0 15px 0;
width:672px;
min-height:444px;}

/* news page */

.page-news .views-row, .page-health-answers .views-row {
margin:10px 0 30px 0;
float:left;
width:670px;
padding:20px 0 20px 0;
border-top:1px solid #ccc;
min-height:130px;}

.page-news .views-row {
min-height:100px;}

.page-health-answers .views-row {margin: 0;}
.page-health-answers  h3 {color:#666;}

.page-taxonomy .story {
margin:0 0 20px 0;
padding:10px 0 0 0;
border-bottom:1px solid #ccc;}

.view-news-view img,
#block-views-services-block_1 img,
#block-views-services-block_2 img{
border:1px solid #ccc;}

.page-news .typography h2 {margin:0;}
#main .page-news img, .node-type-news #main img {
margin:0 0 10px 15px;
float:right;}
#block-views-services-block_1 .more a,
#block-views-services-block_2 .more a{float:left;}
.page-news .more a,
.page-health-answers .more a  {float:left;color:#1D93CE;}

p.date {
margin:5px 0 5px 0;
color:#666;
font:bold 11px  Arial, Helvetica, sans-serif;}


/*services page*/

.view-id-services img {
margin:0 0px 0 10px;
float:right;}

.view-id-services h2 a {
font-size:16px;
}

.typography .view-id-services h2 a {

color:#333;}

.typography .view-id-services p {
line-height:15px;
font-size:13px;}

.view-id-health_answers_view .view-header {
margin:20px 0 0 0;}

.view-id-services .views-row {
width:180px;
background:#fbfbf4;
float:left;
padding:10px;
margin:0 12px 18px 0;
-moz-border-radius:15px;
-webkit-border-radius: 10px;
border:1px solid #ccc;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
min-height:150px;
height: 150px;
overflow: hidden;
}

.view-id-services .views-row-2,
.view-id-services .views-row-5,
.view-id-services .views-row-8,
.view-id-services .views-row-11,
.view-id-services .views-row-14,
.view-id-services .views-row-17,
.view-id-services .views-row-20,
.view-id-services .views-row-23,
.view-id-services .views-row-27, 
.view-id-services .views-row-30

 {
/*margin:0 10px;*/}

.imagefield-field_services_image {
margin:0 0 20px 20px;
float:right;}


/*wellness page */

h1.node-4 {display:none;}

.right-column {
float:right;
margin:0 10px 0 20px;
width:200px;}

.typography .right-column p {
color:#999;
font:lighter 13px/16px arial;}

.typography .right-column h3 {
border-bottom:1px dashed #999;
color:#DF6421;
padding:0 0 5px 0;
margin:0 0 10px 0;
font:lighter 18px/18px arial;}

.typography p.mission {
color:#999;
width:435px;
padding:0 0 10px 0;
border-bottom:1px dotted #999;
font:lighter 18px/21px arial;
}

/* staff page */

.view-id-staff  .views-row {
width:140px;
min-height:230px;
float:left;
padding:0 20px 0 0;
}

.view-id-staff {clear:both;}

.view-id-staff .views-field-field-title-value {
color:#666;
float:left;
clear:left;
width:150px;
font:italic 11px Georgia;}


.view-id-staff .views-field-title {
float:left;
font-size:11px;
color:#333;}
.view-id-staff .views-field-field-email-value .field-content a {
float:left;
font-size:11px;}

.view-id-staff .views-field-body .field-content  a {
display:block;
text-indent:-9999px;
width:95px;
float:left;
clear:left;
color:transparent;
background:url(../images/readbio.png) no-repeat 0px 0px;
height:23px;}


/* ---------------- 07 - Sidebar --------------- */

li.leaf {
list-style-type:none;
list-style-image:none;}
#sidebar-nav .menu {margin:0 0 20px -4px;}

#sidebar-nav  h2.title  {
color:#333;
font:normal 21px/16px Arial, Helvetica, sans-serif;
padding:5px 4px 10px 3px;
}

#sidebar-nav h3 a {color:#333;}

#sidebar-nav .menu a:hover {color:#333;}

#sidebar-nav .menu a.active {color:#666;text-decoration:underline;}

#sidebar-nav ul {
margin-left:0px;
margin-top:10px;
}

#sidebar-nav li {
margin-right:10px;
margin-bottom:6px;
font-weight:lighter;
}

#sidebar-nav li.current .selected {
text-decoration:underline;
font-size:16px;
color:#999;
}

#sidebar-nav ul.sub-navigation li.current .selected {font-size:14px;}
#sidebar-nav ul.sub-navigation li.first  a.item {border-bottom:none;}

#sidebar-nav ul.sub-navigation {
margin-left:0px;
line-height:14px;
padding-left:0px;
margin-bottom:10px;}

#sidebar-nav ul.sub-navigation li a {
color:#999;
font-size:11px;
}

#sidebar-nav li a {
color:#999;
font-size:16px;
}

.line {
clear:both;
width:auto;
height:1px;
background:#999;}

#sidebar {
background:#E8E8E8;
float:left;
width:250px;
margin:15px;
min-height:404px;
border:1px solid #999;}

#search {font:normal normal 13px 'Trebuchet MS', 'Calibri', Arial, Helvetica, sans-serif;}

#quick-links, #search, #health-iowa, #sidebar-nav {
padding:15px 0px 0px 15px;
width:auto;
border:2px solid white;}

#search {height:65px;}
#quick-links, #sidebar-nav  {min-height:240px;}
#health-iowa {min-height:160px;}
#quick-links li a {
color:#333;
text-decoration:none;
font-size:16px;}
#quick-links li a:hover {color:#666;} 	
#quick-links ul {margin:0px 0px 0px 0px;}
#quick-links li{
list-style-position:outside;
padding:10px 0px 10px 45px;
margin-bottom:7px;}

#quick-links li.app {background:url(../images/appointments-icon.png) no-repeat;}
#quick-links li.insurance{background:url(../images/insurance.png) no-repeat;}		
#quick-links li.pharmacy{background:url(../images/pharmacy.png) no-repeat;}		
#quick-links li.nurseline{background:url(../images/nurseline.png) no-repeat;}		
#quick-links li.immunizations{background:url(../images/immunizations.png) no-repeat;}		
#quick-links li.self-care{background:url(../images/self-care.png) no-repeat;}		

h2.ha{ 
font-size: 2.75em;
font-weight: bold;
width:230px;
overflow: hidden;
margin-bottom: 20px;
text-align: center;
margin-left: -.2em;}

h2.ha a{
color: #666;
}

#health-iowa ul li a{
float:left;
width:43px;
height:230px;
display:block;
overflow:hidden;
text-indent:-9999px;
}

li.fitness a {background:url(../images/bars.png) no-repeat -8px -5px;}
li.fitness a:hover {background:url(../images/bars.png) no-repeat -8px -236px;}
li.nutrition a {background:url(../images/bars.png) no-repeat -50px -5px;}
li.nutrition a:hover {background:url(../images/bars.png) no-repeat -50px -236px;}
li.tabacco a {background:url(../images/bars.png) no-repeat -94px -5px;}
li.tabacco a:hover {background:url(../images/bars.png) no-repeat -94px -236px;}
li.sexual-health a {background:url(../images/bars.png) no-repeat -137px -5px;}
li.sexual-health a:hover {background:url(../images/bars.png) no-repeat -137px -236px;}
li.substance a {background:url(../images/bars.png) no-repeat -179px -5px;}
li.substance a:hover {background:url(../images/bars.png) no-repeat -179px -236px;}	

/* search form */

#search	p {
	padding:0 0 15px;
}

#search form, 
#search input, 
#search label,
#search button{
margin:0;
padding:0;
}

#search form{
padding:0px;
border:3px solid #ccc;
background:#fff;
float:left;
}

#search input{
height:25px;
border:none;
border-color:transparent;
font:normal bold 13px 'Trebuchet MS', 'Calibri', Arial, Helvetica, sans-serif;
color:#666;
}

#search form.focus {border-color:#09c;}

#search form.focus input { outline:none;}

#search input.submit {
color:#717169;
width:46px;
height:36px;
margin-left:5px;
outline:none;
border:none;
background:#717169 url(../images/search.png) no-repeat 5px 3px;
text-indent:-999px;
cursor:pointer;
}

/* ---------------- 08 - Footer --------------- */

#footer {
background:#cecba5;
bottom:0;
width:980px;
color: #666;
margin: auto;
min-height:460px;   /* Height of the footer */
}
#footer::after {
  clear: both;
  content: '';
  display: block;
  height: 40px;
}

#footer-content {
width:980px;
margin:35px 0px 0px 0px;}

.footer-box {
margin:0;
width:500px;
float:left;}

.footer-nav {
float:left;
font:lighter 13px Arial, Helvetica, sans-serif;
width:380px;
margin:0 0 0 50px;;
}

/* Temporarily commented out by Drew
#footer li a{
	color: #cb6f02;
	font-size: 20px;
	line-height: 44px;
	margin-left: 20px;
}
*/

#footer li a:hover{
	border-bottom: 1px dashed #000;
}

#dumbbell-herky{
	background-image: url(../images/dumbbell-herky.png);
	text-indent: -999px;
	overflow: hidden;
	width: 229px;
	height: 233px;
	margin: 0 0 20px -25px;
	display: block;
}

#herky{
	background-image: url(../images/dr-herky.png);
	text-indent: -999px;
	overflow: hidden;
	width: 211px;
	height: 233px;
	float: left;
	margin-right: 20px;
	display: block;
}

#about{
	width: 450px;
	font-size: 12px;
	line-height: 18px;
}

.footer-nav ul {margin:10px 0px 0px 0px;}

.footer-nav li {
width:140px;
float:left;
line-height:5px;}

.footer-nav li a:hover {text-decoration:underline;}
.footer-nav li a {
color:black;
border-bottom:1px solid black;
font:normal 18px Arial, Helvetica, sans-serif;}

.footer-nav li ul li a {
color:black;
border:none;
font:lighter 13px Arial, Helvetica, sans-serif;}

.footer-nav li.home {
/*margin:0 20px 0 0;*/
width:47%;}
.footer-nav li.services {width:47%;}
.footer-nav li.wellness {width:47%; margin-top: 20px;}
.footer-nav li.health{margin-top: 20px;}
.footer-nav li.newss{margin:20px 0 0 0;}

#disclaimer {
font:lighter 13px/16px Arial, Helvetica, sans-serif;
clear:both;}

#disclaimer p.right {
width:480px;
float:right;}

#disclaimer img {
margin:0 10px 0 0;
float:left;}

.contact strong {
font-weight:bold;
color:black;
}
.contact {
font:lighter 13px/16px Arial, Helvetica, sans-serif;
width:150px;
height:80px;
color:#666;
margin:20px 0 40px 10px;
float:left;}

#uiowa img {
margin:0 10px 0 0;
float:left;}

#uiowa {
float:left;
font-size:13px;
margin:5px 0 0 5px;}

#uiowa a, .contact a {color:#cb6f02;}
img.footer-logo {
margin: 5px 0 15px 5px;}

img.uiowa-logo {
float:right;
margin-top: 15px;
}

.footer-standard {
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-list {
	margin-bottom: 20px;
}


/* Form */
input#edit-submit {
background:white url(../images/formbg.gif) repeat-x scroll left top;
border:1px solid #CCCCCC;
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:lighter;
letter-spacing:1px;
margin-top:20px;
padding:2px 6px;
text-transform:uppercase;
}

 /*h1.node-192 {

display:block;
text-indent:-9999px;

outline: none;

height:90px;
background: url(../images/beware.png) no-repeat 0 0;}
*/


#laziness-links {
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
overflow:auto;
padding:0px 0 0px 10px;
clear:both;
}

#laziness-links .column {
padding-top:20px;
width:200px;
float:left;}

#laziness-links .column.middle {
border-right:1px solid #ccc;
border-left:1px solid #ccc;
padding: 20px 15px 0 15px;
margin: 0 15px 0 15px;}

#node-192 p img {
float:left;
margin: 0 0 10px 0;
padding: 0 20px 0 10px;
}

/*#node-192 form {
background:transparent url(../images/entertowin.png) no-repeat 5px 0;
clear:both;
padding:40px 0 0 10px;}
*/

#block-views-laziness_view-block_1 ul {
	padding: 0;
	margin: 0;

}



#block-views-laziness_view-block_1 ul li{
	list-style: none;

}

#block-views-laziness_view-block_1 .more a{
	float: none;

}

#mc_embed_signup {
	border-top: 1px solid #999;

}
.post_meta {
	color: #AAA;
	font-size: 0.8em;
	margin: -5px 0px 5px 0px;
}
.panel {
	float: left;
	width: 672px;
}


.feature-content {
	color: #FFF;
}
.feature-content p {
	margin: 10px 0px 5px 0px;
}
.panel-text {
	padding-top: 215px;
}
.coda-nav {
	height: 0px;
	width: 0px;
}
.slider-wrap {
	padding: 0px;
	margin: 0px;
	width: 630px;
}
.slider-wrap {
	overflow: hidden;
	/*width: inherit;*/
}
#sidebars::after {
	content: '';
	display: block;
	clear: both;
}
#mains::after {
	content: '';
	display: block;
	clear: both;
	width: 1px;
	height: 1px;
}

/*Added stuff*/

#newspic {
	margin: 0 0 10px 15px;
	float: right;
	
}

#healthpic {
	margin: 0 0 10px 15px;
	float: right;
}

#paginate {
	
margin-bottom: 15px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;

}

#genericpage {
	
float: right;

}

iframe {
	border: none;
}

#ForgotPassword {
	
	padding-top: 10px;
}

#Remember {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 210px;
}

#footer-top-level {
	width: 810px;
	float: left;	
}

#footer-top-level li {
	display: inline;
	margin-right: 80px;
}

#footer-top-level li a {
	color: black;
	border-bottom: 1px solid black;
	font: normal 22px Arial, Helvetica, sans-serif;
}

#footer-top-level p  {
	margin-top: 40px;
	font-size: 16pt;
	font-family: Helvetica;
	
}

#drherky {
	width: 154x;
	height: 150px;
	float: left;
	margin-right: 30px;
	display: block;
}

.footer-info {
	width: 200px;
	margin-right: 55px;
	float: left;
}

.footer-info-right {
	margin-right: 0px;
	width: 200px;
	float: left;
}

.footer-info p {
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

.footer-info-right p {
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

.footer-info strong {
	font-weight: bold;
}

.footer-details {
	width: 420px;
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

#footer-top-level li.news {
	margin-right: 0px;
	font: lighter 13px/16px Arial, Helvetica, sans-serif;


}

.footer-sized {
	min-height: 170px;
}

.footer-information {
	min-height: 100px;
	margin-bottom: 20px;
}

.hon {
	margin-left: 75px;
}

.hon-description {
	margin-top: 10px; 
	margin-left: 7px;
}

#twitterPic {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#youtubePic {
	width: 80px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#socialMedia {
	background-color: white;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 5px;
}


/****** FILE: themes/simple/css/reset.css *****/
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/


html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}

/****** FILE: themes/simple/css/reset-min.css *****/
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/****** FILE: themes/simple/css/ie7.css *****/
/*
#health-iowa ul li {

width:43px;
height:230px;
display:inline;
overflow:hidden;
text-indent:-9999px;
}

		
			#search input.submit {
				color:white;
				height:34px;
				background-color:#717169;
				background-image:none;
		
			}
.view-id-services .views-row {
	min-height: 160px;
}
*/

		

/****** FILE: themes/simple/css/system.css *****/

/*
** HTML elements
*/
body.drag {
  cursor: move;
}
th.active img {
  display: inline;
}
tr.even, tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
td.active {
  background-color: #ddd;
}
td.checkbox, th.checkbox {
  text-align: center;
}
tbody {
  border-top: 1px solid #ccc;
}
tbody th {
  border-bottom: 1px solid #ccc;
}
thead th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

/*
** Other common styles
*/
.breadcrumb {
  padding-bottom: .5em
}
div.indentation {
  width: 20px;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  float: left; /* LTR */
}
div.tree-child {
  background: url(../../misc/tree.png) no-repeat 11px center; /* LTR */
}
div.tree-child-last {
  background: url(../../misc/tree-bottom.png) no-repeat 11px center; /* LTR */
}
div.tree-child-horizontal {
  background: url(../../misc/tree.png) no-repeat -11px center;
}
.error {
  color: #e55;
}
div.error {
  border: 1px solid #d77;
}
div.error, tr.error {
  background: #fcc;
  color: #200;
  padding: 2px;
}
.warning {
  color: #e09010;
}
div.warning {
  border: 1px solid #f0c020;
}
div.warning, tr.warning {
  background: #ffd;
  color: #220;
  padding: 2px;
}
.ok {
  color: #008000;
}
div.ok {
  border: 1px solid #00aa00;
}
div.ok, tr.ok {
  background: #dfd;
  color: #020;
  padding: 2px;
}
.item-list .icon {
  color: #555;
  float: right; /* LTR */
  padding-left: 0.25em; /* LTR */
  clear: right; /* LTR */
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
  list-style: disc;
}
ol.task-list li.active {
  font-weight: bold;
}
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.odd .form-item, tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
tr.merge-down, tr.merge-down td, tr.merge-down th {
  border-bottom-width: 0 !important;
}
tr.merge-up, tr.merge-up td, tr.merge-up th {
  border-top-width: 0 !important;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 2px solid red;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
}
.form-checkboxes, .form-radios {
  margin: 1em 0;
}
.form-checkboxes .form-item, .form-radios .form-item {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.marker, .form-required {
  color: #f00;
}
.more-link {
  text-align: right; /* LTR */
}
.more-help-link {
  font-size: 0.85em;
  text-align: right; /* LTR */
}
.nowrap {
  white-space: nowrap;
}
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  background-image:none;
  display:inline;
  list-style-type:none;
  }
.pager-current {
  font-weight:bold !important;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 10em;
}
dl.multiselect dt, dl.multiselect dd {
  float: left; /* LTR */
  line-height: 1.75em;
  padding: 0;
  margin: 0 1em 0 0; /* LTR */
}
dl.multiselect .form-item {
  height: 1.75em;
  margin: 0;
}

/*
** Inline items (need to override above)
*/
.container-inline div, .container-inline label {
  display: inline;
}

/*
** Tab navigation
*/
ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 1em; /* LTR */
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #bbb;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em; /* LTR */
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: #fff 1px solid;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc; /* LTR */
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
  z-index: 100;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-repeat: no-repeat;
  background-position: 100% 2px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}

/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
  height: 1em;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed legend {
  display: block;
}
html.js fieldset.collapsible legend a {
  padding-left: 15px; /* LTR */
  background: url(../../misc/menu-expanded.png) 5px 75% no-repeat; /* LTR */
}
html.js fieldset.collapsed legend a {
  background-image: url(../../misc/menu-collapsed.png); /* LTR */
  background-position: 5px 50%; /* LTR */
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsed legend,
* html.js fieldset.collapsed legend *,
* html.js fieldset.collapsed table * {
  display: inline;
}
/* For Safari 2 to prevent collapsible fieldsets containing tables from dissapearing due to tableheader.js. */
html.js fieldset.collapsible {
  position: relative;
}
html.js fieldset.collapsible legend a {
  display: block;
}
/* Avoid jumping around due to margins collapsing into collapsible fieldset border */
html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto;
}

/*
** Resizable text areas
*/
.resizable-textarea {
  width: 95%;
}
.resizable-textarea .grippie {
  height: 9px;
  overflow: hidden;
  background: #eee url(../../misc/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
}
html.js .resizable-textarea textarea {
  margin-bottom: 0;
  width: 100%;
  display: block;
}

/*
** Table drag and drop.
*/
.draggable a.tabledrag-handle {
  cursor: move;
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0 -0.4em -0.5em; /* LTR */
  padding: 0.42em 1.5em 0.42em 0.5em; /* LTR */
  text-decoration: none;
}
a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  margin-top: 4px;
  height: 13px;
  width: 13px;
  background: url(../../misc/draggable.png) no-repeat 0 0;
}
a.tabledrag-handle-hover .handle {
  background-position: 0 -20px;
}

/*
** Teaser splitter
*/
.joined + .grippie {
  height: 5px;
  background-position: center 1px;
  margin-bottom: -2px;
}
/* Keeps inner content contained in Opera 9. */
.teaser-checkbox {
  padding-top: 1px;
}
div.teaser-button-wrapper {
  float: right; /* LTR */
  padding-right: 5%; /* LTR */
  margin: 0;
}
.teaser-checkbox div.form-item {
  float: right; /* LTR */
  margin: 0 5% 0 0; /* LTR */
  padding: 0;
}
textarea.teaser {
  display: none;
}
html.js .no-js {
  display: none;
}

/*
** Progressbar styles
*/
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #fff url(../../misc/progress.gif);
  border: 1px solid #00375a;
  height: 1.5em;
  margin: 0 0.2em;
}
.progress .filled {
  background: #0072b9;
  height: 1em;
  border-bottom: 0.5em solid #004a73;
  width: 0%;
}
.progress .percentage {
  float: right; /* LTR */
}
.progress-disabled {
  float: left; /* LTR */
}
.ahah-progress {
  float: left; /* LTR */
}
.ahah-progress .throbber {
  width: 15px;
  height: 15px;
  margin: 2px;
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
}
tr .ahah-progress .throbber {
  margin: 0 2px;
}
.ahah-progress-bar {
  width: 16em;
}

/*
** Formatting for welcome page
*/
#first-time strong {
  display: block;
  padding: 1.5em 0 .5em;
}

/*
** To be used with tableselect.js
*/
tr.selected td {
  background: #ffc;
}

/*
** Floating header for tableheader.js
*/
table.sticky-header {
  margin-top: 0;
  background: #fff;
}

/*
** Installation clean URLs
*/
#clean-url.install {
  display: none;
}

/*
** For anything you want to hide on page load when JS is enabled, so
** that you can use the JS to control visibility and avoid flicker.
*/
html.js .js-hide {
  display: none;
}

/*
** Styles for the system modules page (admin/build/modules)
*/
#system-modules div.incompatible {
  font-weight: bold;
}

/*
** Styles for the system themes page (admin/build/themes)
*/
#system-themes-form div.incompatible {
  font-weight: bold;
}

/*
** Password strength indicator
*/
span.password-strength {
  visibility: hidden;
}
input.password-field {
  margin-right: 10px; /* LTR */
}
div.password-description {
  padding: 0 2px;
  margin: 4px 0 0 0;
  font-size: 0.85em;
  max-width: 500px;
}
div.password-description ul {
  margin-bottom: 0;
}
.password-parent {
  margin: 0 0 0 0;
}
/*
** Password confirmation checker
*/
input.password-confirm {
  margin-right: 10px; /* LTR */
}
.confirm-parent {
  margin: 5px 0 0 0;
}
span.password-confirm {
  visibility: hidden;
}
span.password-confirm span {
  font-weight: normal;
}

/****** FILE: themes/simple/css/form.css *****/
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Arial, Helvetica, sans-serif !important
}
input:invalid,
textarea:invalid {
    border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red;
    -webkit-box-shadow: 0px 0px 5px red;
    box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
    background-color: #f0dddd
}
form {
    /*max-width: 70%;*/
}
form .message {
    float:right;
    padding-top: 6px;
    color:#b80000;
}
.holder-required {
    background-color:#ffb8b8;
}
form .good {
    background-color: #ecf9d0;
    border-color: #8fbe00;
}
form .bad {
    background-color: #f9d0d0;
    border-color: #be0000;
}
.checkbox,
.radio {
    margin-top: 3px;
}

.checkboxset:before {
	clear: both;
}
.checkbox label.right,
    .radio label.right {
        text-align: left;
        padding-left: 0px;
    }
#MemberLoginForm_LoginForm_action_dologin,
.Actions .action {
    padding: 6px 20px
}
#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm {
    max-width: 500px
}
#ForgotPassword a {
    margin-top: 15px
}
#ForgotPassword {
    margin-top: 6px
}
div.field {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom:10px;
}

.middleColumn div.field {
	padding-left:0;
	padding-right:0;
}


.ui-widget {
    font-family: Arial, Helvetica, sans-serif
}
form label.left {
    max-width:90%;
    padding-right: 5%;
    padding-bottom:10px;
    margin-top: 3px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: rgb(102, 102, 102);
    float: none;
    
}
form label.right {
    padding-left: 5%;
    display: block;
    font-size: 13px;
}
.main form .middleColumn {
    float: left;
    width: 50% !important;
}
	.main form .middleColumn .middleColumn {
	    width: 100% !important
	}
.header form .middleColumn {
    float: none;
    width: 100% !important;
}
.listbox option {
    padding: 3px 0
}
form input.text,
form textarea,
form .textajaxuniquetext,
form select {
    width: 98%;
    padding: 6px 1%;
    font-size: 15px;
    background-color:#fff;
	 border: 1px solid #dad9d9;
}

form input.text:focus,
form textarea:focus,
form .textajaxuniquetext:focus,
form select:focus {
    outline:none;
}

form input.sitetreeurlsegment {
    width: 200px
}
form span.readonly {
    font-size: 16px
}
form input[disabled], form textarea[disabled] {
    background-color: #f7f7f7;
    border: 1px solid #dad9d9;
}
form .creditCardField input,
form input.currency {
    padding: 5px 1%;
    width: 50px;
}
form input.numeric {
    padding: 5px 1%;
    width: 50px;
}
form #DMYDate-month,
form #DMYDate-day {
    width: 25px
}
form .checkboxset ul,
form .optionset ul {
    margin: 0;
}

form .checkboxset li,
form .optionset li {
    margin-bottom: 5px;
    list-style-type:none;
}
form .checkboxset li .checkbox,
form .optionset li .radio{
    margin-top: 1px;
}

a.btn, button, input[type="submit"] {
    /*background: url(../images/formbg.gif);*/
    color: #666666;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: none !important;
    font-size: 13px;
	border:none;
}

a.btn:hover, button, input[type="submit"]:hover {
    background: #d80000;
    color: #fff;
}

button{
	background-color:#a4a4a4;
}

.ss-uploadfield-item-info button{
		margin-top:4px !important;
		float:left;
}

a.btn:after {
    content: '\2192';
    padding-left: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.resetformaction {
    float:right;
    border-radius:20px;
    background-color:#9F9F9F;
    border:none;
    color:#fff;
    font-weight: bold;
    font-size: 13px;
}

.questionSuccess {
	color: green;
	margin-bottom: 10px;
}

label span {
	color: red;
}

@media only screen and (max-width: 700px) { 
    .main form .middleColumn {
	    float: right;
	    width: 100% !important;
	    : ;
	}
	.header form .middleColumn {
	    float: none;
	    width: 100% !important;
	    : ;
	}
	form label.left,
	#MemberLoginForm_LoginForm label {
	    margin-bottom: 8px
	}
    div.field {
        position:relative;
        padding-bottom: 20px;
    }
    .checkbox label.right,
    .radio label.right {
        float:left;
        text-align: left;
    }
    form label.left {
        width:50%;
        padding:0;
    }
    form label.right {
        position: absolute;
        right: 10px;
        top: 10px;
        margin-top: 3px;
        width: 50%;
        padding: 0;
    }
    .checkbox label.right,
    .radio label.right {
        position:relative;
        right:auto;
        margin-top:-10px;
    }
}

@media only screen and (max-width: 900px) { 
    form {
        max-width: 100%;
    }
}

@media only screen and (min-width: 700px) { 
}

