#health-iowa ul li {

width:43px;
height:230px;
display:inline;
overflow:hidden;
text-indent:-9999px;
}

		
			#search input.submit {
				color:white;
				height:34px;
				background-color:#717169;
				background-image:none;
		
			}
.view-id-services .views-row {
	min-height: 160px;
}
		