<?php
class JSONDisplayExtension extends DataExtension{

	private function parseEvent($rawEvent){

	 	$id = new Text('ID');
	 	$id = $rawEvent['id'];
	 	
	 	$name = new Text('name');
	 	$name->setValue($rawEvent['title']);

	 	$link = new Text('Link');
	 	$link->setValue($rawEvent['localist_url']);
	 	
	 	$more_info_link = new Text('more_info_link');
	 	$more_info_link->setValue($rawEvent['url']);

	 	//$facebook_event_link = new Text('facebook_event_link');
	 	//$facebook_event_link->setValue($rawEvent['facebook_id']);

	 	$imageURL = new Text('ImageURL');
		$imageURL->setValue($rawEvent['photo_url']);	

		//$cancel_note = new Text('cancel_note');
		//$cancel_note->setValue($rawEvent['cancel_note']);
	 	
		$event_instances = $rawEvent['event_instances'];
		$instanceList = new stdClass();
		$time = time();
		foreach($event_instances as $eventinstance) {
			if (strtotime(substr($eventinstance['event_instance']['start'], 0, 10)) >= $time) {
				$instanceList->setValue($this['event_instance']['start']);	
				sort($instanceList);
			} else {
				//
			}		
		};
		if (count($instanceList) != 0) {
			$instanceListt = (array) $instanceList;
			print_r ($instanceList);
			$nextDateTime = new Text('NextDateTime');
			$nextDateTime->setValue($instanceList);
		}
						
		//$nextDateTime->setValue(strtotime($event_instances[['start_date'].' '.$rawEvent['dates'][0]['start_time']));
		
		//$dateTimeCount = new Int('DateTimeCount');
		//$dateTimeCount->setValue(count($rawEvent['dates']));

		$cost = new Text('Cost');
		$cost->setValue($rawEvent['ticket_cost']);
			
		$location = new Text('Location');
		$location->setValue($rawEvent['location']);
		/*
		$venue = new Text('Venue');
		if($rawEvent['venues']) {
			$venue->setValue($rawEvent['location_name']);
		}

		$sponsors = new Text('Sponsors');
		if($rawEvent['sponsors']) {
			$sponsors->setValue($rawEvent['sponsors'][0]['name']);
		}
		
		$eventTypes = new Text('Event Types');
		if($rawEvent['event_types']) {
			$eventTypeNames = array_map(function($item) { return $item['name']; }, $rawEvent['event_types']);
			//$eventTypeNames = array_column($rawEvent['event_types'], 'name');
			$eventTypes->setValue(implode(', ', $eventTypeNames));
		}
		*/
		$parsedEvent = new ArrayData(array(
			'ID'=> $id,
		    'Title' => $name,
		    'Link' => $link,
		    //'FacebookEventLink' => $facebook_event_link,
		    'MoreInfoLink' => $more_info_link,
		    'ImageURL' => $imageURL,
		    //'CancelNote' => $cancel_note,
		    'NextDateTime'		=> $nextDateTime,
		    //'DateTimeCount' => $dateTimeCount,
		    'Cost'		=> $cost,
		    'Location'	=> $location,
		    //'Venue' => $venue,
		    //'Sponsors' => $sponsors,
		    //'EventTypes' => $eventTypes
	    ));
		return $parsedEvent;
	}
		
	public function AfterClassEvents($feedURL="http://hulk.imu.uiowa.edu/localist-api-examples/events.json") {
		
		$eventsList = new ArrayList();
		$rawFeed = file_get_contents($feedURL);
		$eventsDecoded = json_decode($rawFeed, TRUE);
		$eventsArray = $eventsDecoded['events'];
		foreach($eventsArray as $event) {
			$eventsList->push($this->parseEvent($event['event']));
		}		
		return $eventsList;   
	}
	
	public function AfterClassEvent($id){

		$feedURL = 'http://hulk.imu.uiowa.edu/localist-api-examples/events.json';
		$feed = new ArrayList();
		$rawFeed = file_get_contents($feedURL);
		$eventsDecoded = json_decode($rawFeed, TRUE);
		$eventsList = $eventsDecoded['events'];
		if(isset($eventsList)){
			echo('hello, world');
			//print_r ($eventsList);
			foreach($eventsList as $event) {
				print_r ($event);
				if($event['event']['id'] == $id){
					return $this->parseEvent($event);
				}
			}
		}
		return false;
	}
	
}