.random-health-links {
	list-style-type: none;
	margin:0;
	padding:0;
	li {
		display: inline-block;
		a {
			font-size: .899em;
			padding-right:5px;
			padding-top: 12px;
		}
	}
	
}

.nav-main li:first-child {
	border-left: none;
}

.nav-main li {
	border-right: none; 
}

.nav-main a {
	color: #fff; 
}

.header {
	background: #2d2d2d url(../../../division-project/images/nav_yellow.gif) repeat-x left bottom;
	position: relative; 
}

.logo {
	color: #fff;
	
}

.quick-links {

	ul {
		margin: 0px; 
	}
	li {
		list-style-position: outside;
		padding: 0px 0px 18px 45px;
		margin-bottom: 7px;
		list-style-type: none;	
	}
}

.quick-links li.app {
	background: url("../images/appointments-icon.png") no-repeat;
	
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}

.quick-links li.pharmacy {
	background: url("../images/pharmacy.png") no-repeat;
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}

.quick-links li.insurance {
	background: url("../images/insurance.png") no-repeat;
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}

.quick-links li.nurseline {
	background: url("../images/nurseline.png") no-repeat;
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}

.quick-links li.immunizations {
	background: url("../images/immunizations.png") no-repeat;
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}

.quick-links li.self-care {
	background: url("../images/self-care.png") no-repeat;
	@media (max-width: 767px){	
		background: none;
		padding: 0; 
	}
}   