.random-health-links {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;

		a {
			font-size: .899em;
			padding-right: 5px;
			padding-top: 12px;

			&.btn {
				padding: 4px 14px;
			}
		}
	}
}

.ask-sidebar {
	margin: 1.25em 0 1.2em 15px;
}

.quick-links-container {
	h3 {
		padding-bottom: 25px;
	}
}

.quick-links {
	ul {
		margin: 0px;
	}

	li {
		list-style-type: none;
		list-style-position: outside;
	}

	li a {
		padding: 0px 0px 18px 45px;
		margin-bottom: 15px;
		display: block;

		@media (min-width: $break-medium) {
			line-height: 37px;
		}
	}
}

.quick-links li.app a {
	background: url("../images/appointments-icon.png") no-repeat;

	/*@media (min-width: 767px){	
		background: none;
		padding: 0; 
	}*/
}

.quick-links li.pharmacy a {
	background: url("../images/pharmacy.png") no-repeat;

	/*@media (max-width: 767px){	
		
	}
	@media (min-width: 768px){	
		background: none;
		padding: 0; 
	}*/
}

.quick-links li.insurance a {
	background: url("../images/insurance.png") no-repeat;

	/*@media (min-width: 767px){	
		background: none;
		padding: 0; 
	}*/
}

.quick-links li.nurseline a {
	background: url("../images/nurseline.png") no-repeat;

	/*@media (min-width: 767px){	
		background: none;
		padding: 0; 
	}*/
}

.quick-links li.mychart a {
	background: url("../images/computer-icon.png") no-repeat;

	/*@media (min-width: 767px){	
		background: none;
		padding: 0; 
	}*/
}

.quick-links li.self-care a {
	background: url("../images/self-care.png") no-repeat;

	/*@media (min-width: 767px){	
		background: none;
		padding: 0; 
	}*/
}

#mc-embedded-subscribe {
	margin-bottom: 10px;
}