@charset "UTF-8";
/* CSS Document */

/* TABLE OF CONTENTS

01 - Global Elements
02 - Typography
03 - Header - Header, Logo, navigation
04 - Main Structure
05 - Home Page Content 
06 - Main Content 
07 - Sidebar
08 - Footer    */


/* ---------------- 01 - Global Elements ---------------- */

a {outline: none;}

hr {clear:both;
margin:20px 0 20px 0;}

p em, em {
font-style:italic;}

.node-type-home-feature #main img {
padding:0 0 20px 0;}
.node-type-home-feature #main p {
margin: 0 25px 0 0;}

/* staff page */
.node-type-staff #main img {float:right;}

/*webform */

.node-type-webform .content {color:#666;}


/*blockquotes */

.page-health-answers blockquote, .page-node blockquote   {
float:right;
-moz-border-radius:15px;
-webkit-border-radius: 10px;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
text-align:center;
background:orange;}

.page-node blockquote {
float:right;
padding:5px;
margin:0 0 20px 20px;
width:210px;}

.page-health-answers blockquote {
padding:15px;
margin:0 0 20px 20px;
width:160px;}




.page-health-answers blockquote a {
font-size:1.2em;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
color:white;}

.right {
margin:0 0 10px 10px;
float:right;}

.left {
margin:0 5px 0 0;
float:left;}
html,
body {
font-family:Arial, Helvetica, sans-serif;
margin:0;
padding:0;
height:100%;
font-size:100%;
background:#cecba5 url(../images/background.png) repeat-x;
}

#background {  
min-height:100%;
position:relative;
background:#cecba5 url(../images/background.png) repeat-x;}

.sf-menu, .sf-menu * {
z-index:1000;
}
em {font-style:italic;}

strong {font-weight:bold;}

a.external-link  {
padding:0 20px 0 0;
background:url(../images/external-link.png) no-repeat right 0px;}

p {
}

.typography p.description {
font:normal italic .8em Arial, Helvetica, sans-serif;
color:#999;}


a {text-decoration:none;}
.clear {
clear:both;}

.more a, a.more {
font:bold 10px Arial,Helvetica,sans-serif;
color:#F20F55;
float:right;
text-transform:uppercase;
margin:5px 0 0 0;

}

a.more {
float: none;
display:inline;
font-size:10px;}

/* ---------------- 02 - Typography  ---------------- */

.typography strong {
color:#666;
font-weight:bold;}

.typography h1 {
margin:10px 0 15px 0;
font:normal 29px/29px 'Nobile',  Arial, Helvetica, sans-serif;}

.typography a {color:#DF6421;}

.typography h2 {
color:#006699;
margin:0 0 10px 0;
font:lighter 20px/22px 'Nobile',Arial,Helvetica,sans-serif;}

.typography h3 {
color:#333;
margin:0 0 10px 0;
font:normal 18px 'Nobile', Arial,Helvetica,sans-serif;}

.typography h4 {
color:#666;
font:lighter 16px  'Nobile', Arial, Helvetica, sans-serif;}

.typography h5 {
color:#90711d;
font:bold 14px  'Nobile', Arial, Helvetica, sans-serif;}

.typography h6 {
color:#84795c;
text-transform:uppercase;
font:bold 11px  'Nobile', Arial, Helvetica, sans-serif;}

.typography p {
color:#666;
font-weight:lighter;
font:lighter 15px/21px Arial, Helvetica, sans-serif;
margin:0 0 15px 0;}

.typography ul {margin:10px 0 20px 15px;}
.typography ul ul {
margin:10px 0 10px 20px;
font-size:1.1em;}

.typography ol li {
font:lighter 15px/19px Arial, Helvetica, sans-serif;
color:#666;
list-style:decimal;
margin:0 0 5px 23px;}

.typography ul li {
font:lighter 15px/19px Arial, Helvetica, sans-serif;
color:#666;
list-style:disc;
margin:0 0 5px 0;}

.typography ul li.pdf a {
margin:0 5px 0 0;
padding:0 20px 0 0;
background:url(../images/pdf.png) no-repeat right -1px;}

a.pdf  {
margin:0 5px 0 0;
padding:0 20px 0 0;
background:url(../images/pdf.png) no-repeat right -1px;}	

blockquote p  {padding:0px;}

.typography blockquote h3 {
color:white;
padding:10px 0 0 0;}

/* ---------------- 03 - Header - logo, navigation ---------------- */

h1.logo a {
float:left;
display:block;
text-indent:-9999px;
width:656px;
color:transparent;
background:url(../images/logo_horizontal.png) no-repeat 7px 15px;
height:44px;
margin-top: 6px;}

#header {
height:87px;
padding:0px;
}

#header p {
font-weight:lighter;
clear: left;
float:left;
margin:17px 0px 0px 0px;
color:white;
font-size:11px;}

#header strong {
font-weight:bold;
margin-left:20px;}

#header img {
margin:-35px 0px 0px 0px;
float:right;}

#header img.header-logo {
margin:15px 0 0 7px;
float:left;}

#nav {
margin:30px 10px 0px 0px;
height:51px;}

#nav ul {
margin:5px 0 0 0;
float:right;}

p.appointments a {
float:left;
color:white;
font-size:19px;
text-decoration:none;
display:block;
width:220px;
height:33px;
padding:7px 0px 0px 30px;
margin:5px 0px 0px 15px;
background:url(../images/appointments.png) no-repeat;
}
p.appointments a:hover {
background: url(../images/appointments-over.png) no-repeat ;
}
/* ---------------- 04 - Main Structure  ---------------- */


#container {
min-height:100%;
position:relative;
background:url(../images/header.png) no-repeat scroll 50% 0px;
}

#wrapper {
width:980px;
margin:0px auto 0px auto;}

#body {
background:white;
width:980px;
overflow:hidden;
}

/* ---------------- 05 - Home Page Content  ---------------- */

/* Home Page Slider */

.panel h3 a {
width:auto;
text-decoration:none;
color:white;
font:bold 27px/16px Arial, Helvetica, sans-serif;}

.panel h4 a {

text-decoration:none;
color:white;
font:italic 29px/16px Georgia, "Times New Roman", Times, serif;}

/*.stripViewer .panelContainer p {
font:normal 13px/18px Arial, Helvetica, sans-serif;
color:#ccc;}*/

.feature-content {
padding:10px 40px 10px 10px;
height:100px;
background:url(../images/blacktrans.png) repeat;}

.wrapper1 {height:272px;background:url(../images/panel-1.jpg) no-repeat;}
.wrapper2 {height:272px;background:url(../images/panel-2.jpg) no-repeat;}
.wrapper3 {height:272px;background:url(../images/panel-3.jpg) no-repeat;}
.wrapper4 {height:272px;background:url(../images/panel-4.jpg) no-repeat;}
.wrapper5 {height:272px;background:url(../images/panel-5.jpg) no-repeat;}

.stripViewer .panelContainer .panel ul {
text-align: left;
margin: 0 15px 0 30px;
}

.slider-wrap { /* This div isn't entirely necessary but good for getting the side arrows vertically centered */
	position: relative;
	height: 325px;
	width: 630px;
	margin: 0px;
	padding: 0px;
	border:1px solid #999;
	background: #CCC url(../images/feature-background.png) no-repeat;
}

#coda-nav-right-1 {
	float: right;
	width: 60px;
}
#coda-nav-left-1 {
	background: #888;
	float: left;
	position: absolute;
	width: 60px;
}
#coda-nav-left-1 a, #coda-nav-right-1 a {
	/*background: #CCC; */
	color: black;
	display: block;
	margin: 302px 0px 0px 0px;
	padding: 3px 5px;
	position: absolute;
	width: 50px;
}

/* These 2 lines specify style applied while slider is loading */
/*.csw {width: 100%; height: 272px; background: #fff; overflow: scroll}
.csw .loading {margin: 200px 0 300px 0; text-align: center}*/

/*.csw {width: 630px; height: 325px; margin: 0px; padding: 0px; background: #fff; overflow: scroll}
.csw .loading {margin: 0px 0px 0px 0px; text-align: center}*/


#slider1 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
	position: absolute;
	height: 302px;
	width: 630px;
}


.stripViewer_old { /* This is the viewing window */
position: relative;
overflow: hidden; 
border: 1px solid #999; /* this is the border. should have the same value for the links */
margin: auto;
margin: 0px;
width: 630px; /* Also specified in  .stripViewer .panelContainer .panel  below */
height: 272px;
clear: both;
background: #fff;
}

/* .stripViewer */
.panelContainer { /* This is the big long container used to house your end-to-end divs. Width is calculated and specified by the JS  */
position: relative;
left: 0;
top: 0;
height: 302px;
list-style-type: none;
margin: 0px;
padding: 0px;
width: 630px;
/* -moz-user-select: none; // This breaks CSS validation but stops accidental (and intentional - beware) panel highlighting in Firefox. Some people might find this useful, crazy fools. */
}

/* .stripViewer */
.panelContainer .panel { /* Each panel is arranged end-to-end */
float:left;
height: 100%;
position: relative;
width: 630px; /* Also specified in  .stripViewer  above */
}

/* .stripViewer */
.panelContainer .panel .wrapper { /* Wrapper to give some padding in the panels, without messing with existing panel width */
padding: 0px;
}

/* The left and right arrows */
/* .stripNavL, .stripNavR {
position: absolute;
top: 268px;
text-indent: -9000em;
}

.stripNavL a, .stripNavR a {
display: block;
height: 80px;
width: 120px;
color:transparent;
}

.stripNavL {left: 0;}

.stripNavR {right: 0;}

.stripNavL {background: url("../images/arrow-left.png") no-repeat center;}

.stripNavR {
background: url("../images/arrow-right.png") no-repeat center;
} */
.slider-wrap-interior {
padding:0px 0 0px 0;
margin:0 0 20px 0;
border:1px solid #999;
background: url(../images/feature-background.png) no-repeat;}

.header-wrap-interior {
padding:10px 0 10px 0;
margin:0 0 20px 0;
border:1px solid #999;
background: url(../images/feature-background2.png) no-repeat 0px -240px;}

#navigation{
width:auto;
margin:0px 21px 10px 21px;
height:20px;
}

.panel-text { padding-top:195px;}

p.ask a {
clear:both;
color:#666;
font:italic 17px/19px Georgia, Helvetica, sans-serif;
margin:20px 0 0 0;}

#clipboard-content {
	background: #fdffd9;
}
#clipboard-content img {float:left;}

#clipboard-content h4 {
color:#333;
margin:0 0 10px 20px;
font:bold 18px/16px 'Nobile', Arial, Helvetica, sans-serif;}

#clipboard-content p.more a {float:left;color:#006699;}
#clipboard-content p.ask a {-moz-border-radius:5px;
-webkit-border-radius: 5px;
padding:7px;
float:left;
font:lighter 16px/16px Arial, Helvetica, sans-serif;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
color:white;background:orange;}

#clipboard-content p {
margin:0 20px 10px 20px; 
color:#666;
font:italic 13px/19px Arial, Helvetica, sans-serif;}

#clipboard-content .more a  {float:right; margin:0px 20px 0px 0px;}
#clipboard-content span a {display:block;}
#news-area {float:left;}
a.view-all {
	color: #DF6320;
	float: right;
	font: bold 12px Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	clear: both;
	
}
#clipboard {
height:327px;
float:right;	
}

#clipboard, #news-area {
width:325px;
margin:20px 0px 0px 0px;
}

#clipboard p em {font-style:italic;}

#clipboard-top {
width:auto;
margin-bottom:15px;
height:25px;
background:url(../images/top.png) repeat;}

.typography #clipboard-content {background:none;}

.typography #clipboard {width:280px;margin-left: 20px;}

#clipboard-content {
height:300px;
border:1px solid #999;}

h4.news a {background:url(../images/news-tab.png) no-repeat 80px 0px;}
h4.clipboard a {background:url(../images/blue-tab.png) no-repeat 35px 0px;}
.typography h4.clipboard a {background:url(../images/blue-tab2.png) no-repeat 15px 0px;}	
h4.clipboard a, h4.news a {
text-transform:uppercase;
font:bold 14px/16px Tahoma, Geneva, sans-serif;
color:white;
padding:5px 0px 0px 0px;
width:auto;
display:block;
text-align:center;
height:21px;
}

#news-area li {height:94px;margin:10px 0px 0px 0px;}
#news-area ul li img {margin:0px 15px 0px 0px;float:left;border: 1px solid #ccc;}
#news-area ul li p {font:normal 13px/15px Arial, Helvetica, sans-serif;}

#news-area h5 {
margin:0 0 5px 0;
line-height:15px;}
#news-area h5 a {

color:#006699;
font:normal 16px/16px Arial, Helvetica, sans-serif}

/* ---------------- 06 - Main Content ---------------- */

#main {
margin:15px 15px 0px 0px;
float:right;
padding:0 0 15px 0;
width:672px;
min-height:444px;}

/* news page */

.page-news .views-row, .page-health-answers .views-row {
margin:10px 0 30px 0;
float:left;
width:670px;
padding:20px 0 20px 0;
border-top:1px solid #ccc;
min-height:130px;}

.page-news .views-row {
min-height:100px;}

.page-health-answers .views-row {margin: 0;}
.page-health-answers  h3 {color:#666;}

.page-taxonomy .story {
margin:0 0 20px 0;
padding:10px 0 0 0;
border-bottom:1px solid #ccc;}

.view-news-view img,
#block-views-services-block_1 img,
#block-views-services-block_2 img{
border:1px solid #ccc;}

.page-news .typography h2 {margin:0;}
#main .page-news img, .node-type-news #main img {
margin:0 0 10px 15px;
float:right;}
#block-views-services-block_1 .more a,
#block-views-services-block_2 .more a{float:left;}
.page-news .more a,
.page-health-answers .more a  {float:left;color:#1D93CE;}

p.date {
margin:5px 0 5px 0;
color:#666;
font:bold 11px  Arial, Helvetica, sans-serif;}


/*services page*/

.view-id-services img {
margin:0 0px 0 10px;
float:right;}

.view-id-services h2 a {
font-size:16px;
}

.typography .view-id-services h2 a {

color:#333;}

.typography .view-id-services p {
line-height:15px;
font-size:13px;}

.view-id-health_answers_view .view-header {
margin:20px 0 0 0;}

.view-id-services .views-row {
width:190px;
background:#fbfbf4;
float:left;
padding:10px;
margin:0 0 18px 0;
-moz-border-radius:15px;
-webkit-border-radius: 10px;
border:1px solid #ccc;
-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
min-height:150px;}

.view-id-services .views-row-2,
.view-id-services .views-row-5,
.view-id-services .views-row-8,
.view-id-services .views-row-11,
.view-id-services .views-row-14,
.view-id-services .views-row-17,
.view-id-services .views-row-20,
.view-id-services .views-row-23,
.view-id-services .views-row-27, 
.view-id-services .views-row-30

 {
margin:0 10px;}

.imagefield-field_services_image {
margin:0 0 20px 20px;
width: 350px;
float:right;}


/*wellness page */

h1.node-4 {display:none;}

.right-column {
float:right;
margin:0 10px 0 20px;
width:200px;}

.typography .right-column p {
color:#999;
font:lighter 13px/16px arial;}

.typography .right-column h3 {
border-bottom:1px dashed #999;
color:#DF6421;
padding:0 0 5px 0;
margin:0 0 10px 0;
font:lighter 18px/18px arial;}

.typography p.mission {
color:#999;
width:435px;
padding:0 0 10px 0;
border-bottom:1px dotted #999;
font:lighter 18px/21px arial;
}

/* staff page */

.view-id-staff  .views-row {
width:140px;
min-height:230px;
float:left;
padding:0 20px 0 0;
}

.view-id-staff {clear:both;}

.view-id-staff .views-field-field-title-value {
color:#666;
float:left;
clear:left;
width:150px;
font:italic 11px Georgia;}


.view-id-staff .views-field-title {
float:left;
font-size:11px;
color:#333;}
.view-id-staff .views-field-field-email-value .field-content a {
float:left;
font-size:11px;}

.view-id-staff .views-field-body .field-content  a {
display:block;
text-indent:-9999px;
width:95px;
float:left;
clear:left;
color:transparent;
background:url(../images/readbio.png) no-repeat 0px 0px;
height:23px;}


/* ---------------- 07 - Sidebar --------------- */

li.leaf {
list-style-type:none;
list-style-image:none;}
#sidebar-nav .menu {margin:0 0 20px -4px;}

#sidebar-nav  h2.title  {
color:#333;
font:normal 21px/16px Arial, Helvetica, sans-serif;
padding:5px 4px 10px 3px;
}

#sidebar-nav h3 a {color:#333;}

#sidebar-nav .menu a:hover {color:#333;}

#sidebar-nav .menu a.active {color:#666;text-decoration:underline;}

#sidebar-nav ul {
margin-left:0px;
margin-top:10px;
}

#sidebar-nav li {
margin-right:10px;
margin-bottom:6px;
font-weight:lighter;
}

#sidebar-nav li.current .selected {
text-decoration:underline;
font-size:16px;
color:#999;
}

#sidebar-nav ul.sub-navigation li.current .selected {font-size:14px;}
#sidebar-nav ul.sub-navigation li.first  a.item {border-bottom:none;}

#sidebar-nav ul.sub-navigation {
margin-left:0px;
line-height:14px;
padding-left:0px;
margin-bottom:10px;}

#sidebar-nav ul.sub-navigation li a {
color:#999;
font-size:11px;
}

#sidebar-nav li a {
color:#999;
font-size:16px;
}

.line {
clear:both;
width:auto;
height:1px;
background:#999;}

#sidebar {
background:#E8E8E8;
float:left;
width:250px;
margin:15px;
min-height:404px;
border:1px solid #999;}

#search {font:normal normal 13px 'Trebuchet MS', 'Calibri', Arial, Helvetica, sans-serif;}

#quick-links, #search, #health-iowa, #sidebar-nav {
padding:15px 0px 0px 15px;
width:auto;
border:2px solid white;}

#search {height:65px;}
#quick-links, #sidebar-nav  {min-height:240px;}
#health-iowa {min-height:160px;}
#quick-links li a {
color:#333;
text-decoration:none;
font-size:16px;}
#quick-links li a:hover {color:#666;} 	
#quick-links ul {margin:0px 0px 0px 0px;}
#quick-links li{
list-style-position:outside;
padding:10px 0px 10px 45px;
margin-bottom:7px;}

#quick-links li.app {background:url(../images/appointments-icon.png) no-repeat;}
#quick-links li.insurance{background:url(../images/insurance.png) no-repeat;}		
#quick-links li.pharmacy{background:url(../images/pharmacy.png) no-repeat;}		
#quick-links li.nurseline{background:url(../images/nurseline.png) no-repeat;}		
#quick-links li.immunizations{background:url(../images/immunizations.png) no-repeat;}		
#quick-links li.self-care{background:url(../images/self-care.png) no-repeat;}		

h2.ha{ 
font-size: 2.75em;
font-weight: bold;
width:230px;
overflow: hidden;
margin-bottom: 20px;
text-align: center;
margin-left: -.2em;}

h2.ha a{
color: #666;
}

#health-iowa ul li a{
float:left;
width:43px;
height:230px;
display:block;
overflow:hidden;
text-indent:-9999px;
}

li.fitness a {background:url(../images/bars.png) no-repeat -8px -5px;}
li.fitness a:hover {background:url(../images/bars.png) no-repeat -8px -236px;}
li.nutrition a {background:url(../images/bars.png) no-repeat -50px -5px;}
li.nutrition a:hover {background:url(../images/bars.png) no-repeat -50px -236px;}
li.tabacco a {background:url(../images/bars.png) no-repeat -94px -5px;}
li.tabacco a:hover {background:url(../images/bars.png) no-repeat -94px -236px;}
li.sexual-health a {background:url(../images/bars.png) no-repeat -137px -5px;}
li.sexual-health a:hover {background:url(../images/bars.png) no-repeat -137px -236px;}
li.substance a {background:url(../images/bars.png) no-repeat -179px -5px;}
li.substance a:hover {background:url(../images/bars.png) no-repeat -179px -236px;}	

/* search form */

#search	p {
	padding:0 0 15px;
}

#search form, 
#search input, 
#search label,
#search button{
margin:0;
padding:0;
}

#search form{
padding:0px;
border:3px solid #ccc;
background:#fff;
float:left;
}

#search input{
height:25px;
border:none;
border-color:transparent;
font:normal bold 13px 'Trebuchet MS', 'Calibri', Arial, Helvetica, sans-serif;
color:#666;
}

#search form.focus {border-color:#09c;}

#search form.focus input { outline:none;}

#search input.submit {
color:#717169;
width:46px;
height:36px;
margin-left:5px;
outline:none;
border:none;
background:#717169 url(../images/search.png) no-repeat 5px 3px;
text-indent:-999px;
cursor:pointer;
}

/* ---------------- 08 - Footer --------------- */

#footer {
background:#cecba5;
bottom:0;
width:980px;
color: #666;
margin: auto;
min-height:460px;   /* Height of the footer */
}
#footer::after {
  clear: both;
  content: '';
  display: block;
  height: 40px;
}

#footer-content {
width:980px;
margin:35px 0px 0px 0px;}

.footer-box {
margin:0;
width:500px;
float:left;}

.footer-nav {
float:left;
font:lighter 13px Arial, Helvetica, sans-serif;
width:380px;
margin:0 0 0 50px;;
}

/* Temporarily commented out by Drew
#footer li a{
	color: #cb6f02;
	font-size: 20px;
	line-height: 44px;
	margin-left: 20px;
}
*/

#footer li a:hover{
	border-bottom: 1px dashed #000;
}

#dumbbell-herky{
	background-image: url(../images/dumbbell-herky.png);
	text-indent: -999px;
	overflow: hidden;
	width: 229px;
	height: 233px;
	margin: 0 0 20px -25px;
	display: block;
}

#herky{
	background-image: url(../images/dr-herky.png);
	text-indent: -999px;
	overflow: hidden;
	width: 211px;
	height: 233px;
	float: left;
	margin-right: 20px;
	display: block;
}

#about{
	width: 450px;
	font-size: 12px;
	line-height: 18px;
}

.footer-nav ul {margin:10px 0px 0px 0px;}

.footer-nav li {
width:140px;
float:left;
line-height:5px;}

.footer-nav li a:hover {text-decoration:underline;}
.footer-nav li a {
color:black;
border-bottom:1px solid black;
font:normal 18px Arial, Helvetica, sans-serif;}

.footer-nav li ul li a {
color:black;
border:none;
font:lighter 13px Arial, Helvetica, sans-serif;}

.footer-nav li.home {
/*margin:0 20px 0 0;*/
width:47%;}
.footer-nav li.services {width:47%;}
.footer-nav li.wellness {width:47%; margin-top: 20px;}
.footer-nav li.health{margin-top: 20px;}
.footer-nav li.newss{margin:20px 0 0 0;}

#disclaimer {
font:lighter 13px/16px Arial, Helvetica, sans-serif;
clear:both;}

#disclaimer p.right {
width:480px;
float:right;}

#disclaimer img {
margin:0 10px 0 0;
float:left;}

.contact strong {
font-weight:bold;
color:black;
}
.contact {
font:lighter 13px/16px Arial, Helvetica, sans-serif;
width:150px;
height:80px;
color:#666;
margin:20px 0 40px 10px;
float:left;}

#uiowa img {
margin:0 10px 0 0;
float:left;}

#uiowa {
float:left;
font-size:13px;
margin:5px 0 0 5px;}

#uiowa a, .contact a {color:#cb6f02;}
img.footer-logo {
margin: 5px 0 15px 5px;}

img.uiowa-logo {
float:right;
margin-top: 15px;
}

.footer-standard {
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-list {
	margin-bottom: 20px;
}


/* Form */
input#edit-submit {
background:white url(../images/formbg.gif) repeat-x scroll left top;
border:1px solid #CCCCCC;
color:#666666;
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
font-weight:lighter;
letter-spacing:1px;
margin-top:20px;
padding:2px 6px;
text-transform:uppercase;
}

 /*h1.node-192 {

display:block;
text-indent:-9999px;

outline: none;

height:90px;
background: url(../images/beware.png) no-repeat 0 0;}
*/


#laziness-links {
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
overflow:auto;
padding:0px 0 0px 10px;
clear:both;
}

#laziness-links .column {
padding-top:20px;
width:200px;
float:left;}

#laziness-links .column.middle {
border-right:1px solid #ccc;
border-left:1px solid #ccc;
padding: 20px 15px 0 15px;
margin: 0 15px 0 15px;}

#node-192 p img {
float:left;
margin: 0 0 10px 0;
padding: 0 20px 0 10px;
}

/*#node-192 form {
background:transparent url(../images/entertowin.png) no-repeat 5px 0;
clear:both;
padding:40px 0 0 10px;}
*/

#block-views-laziness_view-block_1 ul {
	padding: 0;
	margin: 0;

}



#block-views-laziness_view-block_1 ul li{
	list-style: none;

}

#block-views-laziness_view-block_1 .more a{
	float: none;

}

#mc_embed_signup {
	border-top: 1px solid #999;

}
.post_meta {
	color: #AAA;
	font-size: 0.8em;
	margin: -5px 0px 5px 0px;
}
.panel {
	float: left;
	width: 672px;
}


.feature-content {
	color: #FFF;
}
.feature-content p {
	margin: 10px 0px 5px 0px;
}
.panel-text {
	padding-top: 215px;
}
.coda-nav {
	height: 0px;
	width: 0px;
}
.slider-wrap {
	padding: 0px;
	margin: 0px;
	width: 630px;
}
.slider-wrap {
	overflow: hidden;
	/*width: inherit;*/
}
#sidebars::after {
	content: '';
	display: block;
	clear: both;
}
#mains::after {
	content: '';
	display: block;
	clear: both;
	width: 1px;
	height: 1px;
}

/*Added stuff*/

#newspic {
	margin: 0 0 10px 15px;
	float: right;
	
}

#healthpic {
	margin: 0 0 10px 15px;
	float: right;
}

#paginate {
	
margin-bottom: 15px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;

}

#genericpage {
	
float: right;

}

iframe {
	border: none;
}

#ForgotPassword {
	
	padding-top: 10px;
}

#Remember {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 210px;
}

#footer-top-level {
	width: 810px;
	float: left;	
}

#footer-top-level li {
	display: inline;
	margin-right: 80px;
}

#footer-top-level li a {
	color: black;
	border-bottom: 1px solid black;
	font: normal 22px Arial, Helvetica, sans-serif;
}

#footer-top-level p  {
	margin-top: 40px;
	font-size: 16pt;
	font-family: Helvetica;
	
}

#drherky {
	width: 154x;
	height: 150px;
	float: left;
	margin-right: 30px;
	display: block;
}

.footer-info {
	width: 200px;
	margin-right: 55px;
	float: left;
}

.footer-info-right {
	margin-right: 0px;
	width: 200px;
	float: left;
}

.footer-info p {
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

.footer-info-right p {
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

.footer-info strong {
	font-weight: bold;
}

.footer-details {
	width: 420px;
	font: lighter 13px/16px Arial, Helvetica, sans-serif;

}

#footer-top-level li.news {
	margin-right: 0px;
	font: lighter 13px/16px Arial, Helvetica, sans-serif;


}

.footer-sized {
	min-height: 170px;
}

.footer-information {
	min-height: 100px;
	margin-bottom: 20px;
}

.hon {
	margin-left: 75px;
}

.hon-description {
	margin-top: 10px; 
	margin-left: 7px;
}

#twitterPic {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#youtubePic {
	width: 80px;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}


#socialMedia {
	background-color: white;
	overflow: hidden;
	margin-bottom: 15px;
}
